
/* General */
*{
    font-family: 'Montserrat';
}

ion-icon {
    color: #333333;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    font-size: 14px;
    color: #333333;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.row {
    margin: 0;
}

.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: cadetblue;
    border: 2px solid cornflowerblue;
}

.btn-primary:hover{
    background-color: cadetblue;
    border-color:  #333333;
}


/* Navbar*/
#navbar img{
    width:150px;
}

#navbar {
    justify-content: space-between;
    background-color: cadetblue;
    padding: 2px 0;
}

#navbar a {
    font-size: 14px;
    color: #333333;
}

#navbar a:hover {
    font-size: 15px;
    color: #757575;    
    font-weight: bold;
}

/* Search Container */
#search-container {
    background-image: url("../img/banner-home.png") ;
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container p {
    color: #333333;
    margin-top: 107px;
    font-weight: 900;
}

#search-container form
 {
    width:40%;
    margin: 0 auto;
}

/* Events List */
#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #333333;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
}

#events-container .card {
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    padding-bottom: 15px;
}

#events-container img {
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-bord {    
    padding-left: 15px;
}

.card .card-date {
    font-size: 12px;
    color: #757575;
}

.card .card-title {
    font-size: 20px;
    color: #212121;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 14px;
    color: #757575;
}

/* Footer */
footer{
text-align: center;
text-decoration: none;
background-color: #353e48;
color: #fff;
padding: 30px;
position: absolute;
bottom: 0;
width: 100%;
}

footer p {
    margin-bottom: 0;
}